@import "colors";
@import "typography";
@import "spacing";
@import "shadows";

body {
    @include myfont;
    background-color: $c-tertiary;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    max-width: 100vw;
    padding: $sp-xs $sp-l $sp-xs $sp-l;
    z-index: 1;

    ul {
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        a:link,
        a:visited {
            text-decoration: none;
            @include caption;
            display: block;
            text-align: center;

            .nav_desktop {
                display: none;
            }
        }

        .current {
            color: $c-primary;
        }
    }
}

main {
    margin: $sp-xl $sp-l $sp-xl $sp-l;
    max-width: 1440px;
}

footer {
    margin: $sp-xxx $sp-l $sp-xxx $sp-l;
    color: $c-secondary2;

    div, p {
        @include caption;
        color: $c-secondary2;
    }

    div {
        height: 1px;
        background-color: $c-secondary3;
        margin-bottom: $sp-m;
    }
}

h1 {
    @include heading2;
}

p {
    @include paragraph;
}

time {
    @include paragraph-highlight;
}

caption, figcaption {
    @include caption;
}

figure {
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        list-style-type: none;
        padding: 0;
        margin: 0; 
    }
}

img {
    max-width: 100%;
    border-radius: 8px;
    width: 100%;
}

.intro {
    h1 {
        padding-bottom: $sp-s;
    }
    h2 {
        @include paragraph;
    }
    .intro_photo {
        padding: $sp-xl 0 $sp-xl 0;
    }
}

.profile {
    padding-bottom: $sp-xl; 

    .profile_photo {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        column-gap: $sp-s; 
        grid-template-areas: 
        "photo photo arrow . ."
        ". . me me me";

        @keyframes pointing {
            from {
                transform: rotate(50deg);
            }
            to {
                transform: rotate(70deg);
                padding-left: $sp-s;
            }
        }

        .photo {
            grid-area: photo;
            grid-row-start: 1;
            grid-row-end: 5;
        }
        .arrow {
            width: 40px;
            grid-area: arrow; 
            grid-row-start: 2;
            grid-row-end: 4;
            align-self: flex-end;
            margin-left: $sp-xs;
            animation: pointing 0.8s ease-in-out infinite;
        }
        .me {
            grid-area: me;
            grid-row-start: 4;
            grid-row-end: 5;
            align-self: flex-end;
            justify-self: center;
            line-height: 20px;
        }
    }
}

.profile_description {
    padding-bottom: $sp-xl;
    p:first-child {
        padding-bottom: $sp-m;
    }
}

.mybackground {
    h1 {
        color: $c-primary;
        padding: $sp-m 0 $sp-m 0;
    }
    li {
        padding-bottom: $sp-l;
    }
    .job_duration {
        @include paragraph-highlight;
        padding-bottom: $sp-xs;
    }
    .job_title {
        @include paragraph-bold;
    }
}

.mylinks {
    padding-top: $sp-xxl;

    a {
        text-decoration: none;
        @include paragraph-link;
        display: flex;
        flex-direction: row;
       
        p {
            padding-left: 8px;
        }
    }

    a:hover,
    a p:hover {
        color: $c-primary;
    }
}

.projects {
    h2 {
        @include paragraph;
    }
    .project_image {
        padding: $sp-m 0 $sp-m 0;
    }
    li {
        padding-bottom: 72px;

        a:hover img{
            box-shadow: 2px 4px 20px $c-shadow;
            opacity: 0.9;
        }
    }
}

.other_projects {
    h2 {
        @include heading2;
        color: $c-primary;
        padding-bottom: $sp-m;
    }
    ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 16px; 
        li {
            padding-bottom: $sp-m;

            a:hover img {
                box-shadow: 2px 4px 20px $c-shadow;
                opacity: 0.8;
            }
        }           
    }
    figcaption {
        padding-bottom: $sp-xs;
    }
    
}

.mycontacts {
    h1 {
        padding-bottom: $sp-xs;
    }
    h2 {
        @include paragraph;
    }
    ul {
        padding-top: $sp-xl;
        li {
            padding-bottom: $sp-l;
        }
    }
    .outro_photo {
        padding-top: $sp-xl;
    }
}


@media (min-width: 750px) {

    header {
        background-color:$c-tertiary;
        bottom: inherit;
        top: 0;
        padding: 0;

        ul {
            justify-content: flex-end;
            padding: $sp-l 0 $sp-l 0;

            li:first-child {
                flex-basis: 100%;
                margin-left: $sp-l;
                div {
                    text-align: left;
                }
            }
        
            
            li a .current {
                color: red;
            }

            li a:link,
            li a:visited {
                @include paragraph;
                margin-right: $sp-l;
                position: relative;

                .icon-navbar {
                    display: none;
                }
                .nav_desktop {
                    display: block;
                }
                .nav_mobile {
                    display: none;
                } 
            }
           
            li a div:hover {
                @include paragraph-bold;
            }

            li a div::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                bottom: 0;
                left: 0;
                background-color: $c-secondary;
                visibility: hidden;
                transform: scaleX(0);
                transition: all 0.2s ease-in-out 0s;
            }

            li a div:hover::before {
                visibility: visible;
                transform: scaleX(1);
            } 
        }
    }

    main {
        margin-top: calc(#{$sp-xxx*2});
    }

    .intro,
    .projects li,
    .mycontacts {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: $sp-s;
        grid-template-areas:
        "title title title title . photo photo photo photo photo photo photo"
        "subtitle subtitle subtitle subtitle . photo photo photo photo photo photo photo"
        "description description description description . photo photo photo photo photo photo photo"
        ". . . . . photo photo photo photo photo photo photo";

        h1 {
            grid-area: title;
        }

        h2 {
            grid-area: subtitle;
        }

        & > p {
            grid-area: description;
            padding-top: $sp-xl;
        }

        .mylinks {
            grid-area: description;
        }

        a,
        .intro_photo,
        .outro_photo {
            grid-area: photo;
            align-self: center;
        }

        .intro_photo,
        .project_image,
        .outro_photo {
            padding: 0;
        }

    }

    .aboutme_wrapper {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: $sp-s;
        grid-template-areas:
        "myleft myleft myleft myleft myleft myright myright myright myright myright myright .";

        .profile {
            grid-area: myleft;
            position: fixed;
            max-width: 36%;

            .profile_photo {
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                grid-template-rows: none;
                padding-right: $sp-xs;
                grid-template-areas: 
                ". arrow me me me ."
                "photo photo photo . . .";

                @keyframes pointing {
                    from {
                        transform: rotate(-20deg);
                    }
                    to {
                        transform: rotate(0deg);
                        padding-left: 0px;
                    }
                }

                .photo {
                    grid-row-start: 2;
                    grid-row-end: auto;
                    margin-top: $sp-s;
                }
                .arrow {
                    grid-row-start: auto;
                    grid-row-end: auto;
                    justify-self: flex-end;
                    margin-left: 0;
                    
                }
                .me {
                    grid-row-start: auto;
                    grid-row-end: auto;
                    align-self: flex-start;
                    justify-self: flex-start;
                }
            }
        }

        .mytext {
            grid-area: myright;
            margin-top: $sp-xxl;
        }
    }

    .projects_wrapper {
        .mylinks a {
            justify-content: center;
        }
        .other_projects {
        
            ul {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }
}


@media (min-width: 900px) {

    main {
        margin: calc(#{$sp-xxx*2}) $sp-xl 0 $sp-xl;
    }

    footer {
        margin: $sp-xxx $sp-xl $sp-xxx $sp-xl;
    }

    h1 {
        @include heading1;
    }

    .intro {
        h2 {
            @include heading3;
        }
    }

    .aboutme_wrapper {
        .profile {
            max-width: 336px;

            .profile_photo {
                column-gap: $sp-m;
            }
        }
    }
    
    .projects {
        li {
            column-gap: $sp-m;
        }
    }

    .other_projects {
        h2 {
            @include heading1;
            color: $c-primary;
            padding: $sp-xxl 0 $sp-l 0;
        }
    
        ul {
            column-gap: $sp-m;
        }
        figcaption {
            @include paragraph;
        }
    }
}


@media (min-width: 1050px) {

    header {
        padding: 0 120px 0 120px;

        ul {
            padding: $sp-xl 0 $sp-xl 0;

            li:first-child {
                margin-left: 0;
            }            
        }
    }

    main {
        margin: calc(#{$sp-xxx*2}) 120px 0 120px;
    }

    footer {
        margin: $sp-xxx 120px $sp-xxx 120px;
    }

    .aboutme_wrapper {
        .profile_photo {
            column-gap: $sp-l;
        }
    }
    
    .projects {
        h2 {
            @include heading3;
        }
        li {
            column-gap: $sp-l;
        }
    }

    .other_projects {
        h2 {
            padding: $sp-xxl 0 $sp-xxl 0;
        }
        ul {
            column-gap: $sp-xxl;
            row-gap: $sp-xxl;
        }
    }
}