@import "colors";
@import "typography";
@import "spacing";
@import "shadows";

body {
    @include myfont;
    background-color: $c-tertiary;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    max-width: 100vw;
    padding: $sp-xs $sp-l $sp-xs $sp-l;
    ul {
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        a {
            text-decoration: none;
            @include caption;
            display: block;
            text-align: center;
        }
    }
}

main {
    margin: $sp-xl $sp-l $sp-xl $sp-l;
    max-width: 1440px;
}

// .content_wrapper {}

footer {
    margin: $sp-xxx $sp-l $sp-xxx $sp-l;
    color: $c-secondary2;

    div, p {
        @include caption;
        color: $c-secondary2;
    }

    div {
        height: 1px;
        background-color: $c-secondary3;
        margin-bottom: $sp-m;
    }
}

h1 {
    @include heading2;
}

p {
    @include paragraph;
}

time {
    @include paragraph-highlight;
}

caption, figcaption {
    @include caption;
}

figure {
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        list-style-type: none;
        padding: 0;
        margin: 0; 
    }
}

img {
    max-width: 100%;
    border-radius: 8px;
}

.intro {
    h1 {
        padding-bottom: $sp-s;
    }
    h2 {
        @include paragraph;
    }
    .intro_photo {
        padding: $sp-xl 0 $sp-xl 0;
    }
}

.profile {
    padding-bottom: $sp-xl;    

    .profile_photo {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        column-gap: 16px; 
        grid-template-areas: 
        "photo photo arrow . ."
        ". . me me me";

        .photo {
            grid-area: photo;
            grid-row-start: 1;
            grid-row-end: 5;
        }
        .arrow {
            width: 40px;
            transform: rotate(70deg);
            grid-area: arrow; 
            grid-row-start: 2;
            grid-row-end: 4;
            align-self: flex-end;
            margin-left: $sp-xs;
        }
        .me {
            grid-area: me;
            grid-row-start: 4;
            grid-row-end: 5;
            align-self: flex-end;
            justify-self: center;
            line-height: 20px;
        }
    }

    .profile_description {
        padding-top: $sp-xl;
        p:first-child {
            padding-bottom: $sp-m;
        }
    }
}

.mybackground {
    h1 {
        color: $c-primary;
        padding: $sp-m 0 $sp-m 0;
    }
    li {
        padding-bottom: $sp-l;
    }
    .job_duration {
        @include paragraph-highlight;
        padding-bottom: $sp-xs;
    }
    .job_title {
        @include paragraph-bold;
    }
}

.mylinks {
    padding-top: $sp-xxl;
    a {
        text-decoration: none;
        @include paragraph-link;
        display: flex;
        flex-direction: row;
       
        p {
            padding-left: 8px;
        }
    }
}

.projects {
    h2 {
        @include paragraph;
    }
    .project_image {
        padding: $sp-m 0 $sp-m 0;
    }
    li {
        padding-bottom: 72px;
    }
}

.other_projects {
    h2 {
        @include heading2;
        color: $c-primary;
        padding-bottom: $sp-m;
    }
    ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 16px; 
        li {
            padding-bottom: $sp-m;
        }           
    }
    figcaption {
        padding-bottom: $sp-xs;
    }
    
}

.mycontacts {
    h1 {
        padding-bottom: $sp-xs;
    }
    h2 {
        @include paragraph;
    }
    ul {
        padding-top: $sp-xl;
        li {
            padding-bottom: $sp-l;
        }
    }
    .outro_photo {
        padding-top: $sp-xl;
    }
}
