---
layout: default
---
<div class="content_wrapper">

    <section class="profile">
        <div class="profile_photo">
            <img class="photo" src="" alt="A picture of me.">
            <div class="photo_description">
                <img class="arrow" src="" alt="Arrow">
                <p>Well... That's me!</p>
            </div>
        </div>
        <div class="profile_description">
            <p>I’m focused on users and their experiences. Skilled in wireframing and protoyping at varying levels of fidelity. I also have some experience in front-end coding and actually enjoy it.</p>
            <p>I believe a designer should be fully involved in their projects, meaning their process is felt and translated into the final product. Such ideology underlies my own creative process and work development.</p>
        </div>
    </section>

    <section class="mybackground">
        <h2>My background</h2>
        <ul>
            <li>
                <p class="job_duration">/ 2019 – 2020</p>
                <p class="job_title">Graphic & Web Designer</p>
                <p class="job_description">6 months working as an intern at Lisbon Architecture Triennale. Developing communication materials and websites.</p>
            </li>
            <li>
                <p class="job_duration">/ 2019 – 2020</p>
                <p class="job_title">Digital Experience Design</p>
                <p class="job_description">Postgraduate Degree at the Faculty of Fine Arts, University of Lisbon.</p>
                <p class="job_description">Focused on UX/UI Design, Frontend Development, Design Thinking, Design Critique & Teamwork.</p>                
            </li>
            <li>
                <p class="job_duration">/ 2018 – 2019</p>
                <p class="job_title">Freelance Designer Volunteer</p>
                <p class="job_description">6 months working at the Portuguese Red Cross alongside the Marketing team to develop a recyclable First Aid Kit.</p>
            </li>
            <li>
                <p class="job_duration">/ 2016 – 2019</p>
                <p class="job_title">Communication Design</p>
                <p class="job_description">Bachelor Degree at the Faculty of Fine Arts, University of Lisbon.</p>
            </li>
        </ul>
    </section>

    <div class="mylinks">
        <a href="" target="_blank" title="CV Download">
            <img class="" src="" alt="download icon">
            <p>Download my CV</p>
        </a>
    </div>

</div>
