---
layout: default
---

<div class="content_wrapper">
    <section class="mycontacts">
        <h2>Shall we work together?</h2>
        <p>Reach out and check my social media!</p>
        <ul>
            <li>
                <a href="" target="_blank" title="My email">
                    <img class="" src="" alt="gmail icon">
                    <p>rita4moura@gmail.com</p>
                </a>
            </li>
            <li>
                <a href="https://www.behance.net/ritabmoura" target="_blank" title="My Behance">
                    <img class="" src="" alt="behance icon">
                    <p>behance.net/ritabmoura</p>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/ritabmoura/" target="_blank" title="My LinkedIn">
                    <img class="" src="" alt="linked icon">
                    <p>linkedin.com/in/ritabmoura</p>
                </a>
            </li>
        </ul>
        <img class="outro_photo" src="" alt="Some gif or cool animation">
    </section>
</div>