---
layout: default
---

<div class="projects_wrapper">
   
    <section class="projects">
        {%- include myprojects.html -%}
    </section>

    <section class="other_projects">
        <h2>Other Projects</h2>
        {%- include myotherprojects.html -%}
    </section>

    <div class="mylinks">
        <a href="https://www.behance.net/ritabmoura" target="_blank" title="My Behance">
            {%- include icon-behance.svg -%}
            <p>Check more on Behance</p>
        </a>
    </div>

</div>