---
layout: default
---

<div class="content_wrapper">
   
    <section class="projects">
        {%- include myprojects.html -%}
    </section>

    <section class="other_projects">
        <h1>Other Projects</h1>
        {%- include myotherprojects.html -%}
    </section>

    <div class="mylinks">
        <a href="https://www.behance.net/ritabmoura" target="_blank" title="My behance">
            {%- include icon-behance.html-%}
            <p>Check more on Behance</p>
        </a>
    </div>

</div>